<h1>PICK ROCK, SCISSORS OR PAPER</h1>


<a href="/rsp/paper"><img class="imgRsp" src="assets/paper.png" alt="paper"></a>
<a href="/rsp/rock"><img class="imgRsp" src="assets/rock.png" alt="rock"></a>
<a href="/rsp/scissors"><img class="imgRsp" src="assets/scissors.png" alt="scissors"></a>
