<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signature Dishes</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  </head>
  <body>
    <a href="/dishes"><h1>Famous Dishes</h1></a>
    <nav>
      <li class="navLinks"><a href="/dishes">Home</a></li>
      <li class="navLinks"><a href="/dishes/new">Add dish</a></li>
      <li class="navLinks"><a href="/restaurants">Restaurants</a></li>
      <li class="navLinks"><a href="/restaurants/new">Add Restaurant</a></li>
    </nav>

    <%= yield %>
  </body>
</html>
