<h2>Add A New Complaint</h2>

<form action="/complaints" method="post">
  <div class="form_item">
    <label>Customer:</label>
    <select name="customer_id">
      <option disabled selected>- - Please select a customer - -</option>
      <% @customers.each do |customer| %>
          <option value="<%= customer.id %>"><%= customer.name %></option>
      <% end %>
    </select>
  </div>

  <div class="form_item">
    <label>Date:</label>
    <input type="text" name="date_made" />
  </div>

  <div class="form_item">
    <label>Title:</label>
    <input type="text" name="title" />
  </div>

  <div class="form_item">
    <label>Complaint:</label>
    <textarea name="content"></textarea>
  </div>

  <input type="submit" value="Create Complaint" />
</form>
