
<h2>Type your quesion here</h2>

<form action="/8ball/answer">

  Question : <input type="text" name="question">
  <!-- name="question" can #capture the answer and use it in ball_controller.rb page as params -->
<!-- <input type="text" name="symbol"> -->
<input type="submit" value ="Look up Answer">
</form>
