<h2 id="answer">Try and guess the secret number:</h2>
<form action="/secret_number/answer">
  <div class="wrapper">
    <div id="1">One</div>
    <div id="2">Two</div>
    <div id="3">Three</div>
    <div id="4">Four</div>
    <div id="5">Five</div>
    <div id="6">Six</div>
    <div id="7">Seven</div>
    <div id="8">Eight</div>
    <div id="9">Nine</div>
    <div id="10">Ten</div>
  </div>
  <input id="secret1" name="number" value="1" type="text" hidden>
  <input id="secret2" type="submit" hidden>
</form>
