body {
  background-color: rgb(30, 30, 30);
  color: white;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  font-family: 'Mali', cursive;
  font-style: bold;
}

.mainTitle {
  margin-top: 2em;
  margin-bottom: 1px;
}

.subtitle {
  margin: 0;
}


.navList {
  padding: 0;
}

.navLinks:hover {
  border-bottom: 2px solid rgb(90, 224, 232, 0.4)
}

nav {
  color: white;
}

.inlineBlock {
  display: inline-block;
}

.navElements {
  display: inline-block;
  padding-right: 1em;
}

li {
  list-style-type: none;
}

.backgroundImage {
  background-position: center;
  background-size: 100%;
  overflow: visible;
  margin: 10px;
  border-radius: 15px;
  width: 100%;
  height: 100px;
  opacity: 0.3;
  float: right;
}

.listItems {
  line-height: 20px;
  margin-top: 1em;
  font-size: 1.5em;
  width: 10%;
  opacity: 1;
  display: inline-block;
  float: left;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color:white;
  text-decoration: none;
}

.foodLinks:hover {
  border-bottom: 2px solid rgb(90, 224, 232, 0.4)
}

.listGrid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.insideFlex {
  max-height: 25em;
  display: flex;
  justify-content: center;
}

#flag {
  height: 10px;
  border-style: 1px;
  border-radius: 20%;
}

#foodImg {
  object-fit: scale-down;
  max-width: 30em;
  border-radius: 5%;
  border-style: 1px;
}

.textfield {
  border: 0;
  border-radius: 10px;
  background-color: rgb(140, 140, 140)
}

.editDelete {
  font-size: 1em;
}
