#wrapper {

}
#container {

}

header: {
}
nav{
background-color: black;
color: white;
padding: 30px;
margin-top: 0px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white
}

viewed

#main-content
#social-media

.photobanner {

}
.imageshadow {

}

#blurb {

}

#home-boxes {

}
    .home-box
    .home-box
    .home-box

<footer>
    .box-footer
         .blogroll
    .box-footer
         .textwidget

#copyright
#companybottom
