<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The mountains</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>The mountain viewer</h1>
    <hr>
    <nav>
      <h2>
      <a href="/index">Listings</a>
      <a href="/mountains">Home</a>
      <a href="/mountains/new">Create New</a>
      </h2>
    </nav>
    <hr>
    <%= yield %>

  </body>
</html>
