
<h2>Here is the form to update</h2>

<form class="form-style-9" action="/mountains" method="post">
<ul>
<li>
    <input type="text" name="name" class="field-style field-split " placeholder="Name" />
</li>
<li>
    <input type="text" name="country" class="field-style field-split align-left" placeholder="Country" />
</li>
<li>
<input type="text" name="elevation" class="field-style field-split align-none" placeholder="Elevation" />
</li>
<li>
<input type="text" name="image" class="field-style field-split align-none" placeholder="Image Url" />
</li>
<li>
<input type="submit" value="Add Mountain" />
</li>
</ul>
<div class="formIMGDIV">
  <img class="formIMG" src="https://media.giphy.com/media/yoJC2K6rCzwNY2EngA/giphy.gif" alt="">
</div>
</form>
