<!-- create empty form -->

<h2>Add new band</h2>

<form action="/bands" method="post">
  Name: <input type="text" name="name"><br>
  Number of members: <input type="text" name="no_of_members"><br>
  Genre: <input type="text" name="genre"><br>

  Image URL: <input type="text" name="img_url" value="">

  <input type="submit" name="" value="Create new band">
</form>
