<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Bands and Songs</title>
  </head>
  <body>
    <h1>Some Bands and Songs</h1>

    <nav>
      <a href="/bands">All bands</a>
      <a href="/bands/new">Add band</a>
    </nav>

    <%= yield %>
  </body>
</html>
