<h2>Add new song</h2>

<form class="" action="/songs" method="post">
  Song name: <input type="text" name="song" value="">
  Band: <input type="text" name="band_id" value="">

  <input type="submit" name="" value="Add song">
</form>
