<h2>Here is the answer to the question:

  <strong><%= @question %></strong>
</h2>

<div class="lemurImageDiv">
  <h3>"<%= @answer %>"</h3>
  <%= image_tag "zen_lemur.png", alt: "Zen Lemur", class:"lemurImage"%>
  <p>Happy peace be upon you :) </p>
</div>
