
<h2>I have a number - can you guess?</h2>
<div class="secretGuessForm">
  <form action="/games/secretnumber/guess">
    <input type="radio" name="guess" value="1"> 1<br>
    <input type="radio" name="guess" value="2"> 2<br>
    <input type="radio" name="guess" value="3"> 3<br>
    <input type="radio" name="guess" value="4"> 4<br>
    <input type="radio" name="guess" value="5"> 5<br>
    <input type="radio" name="guess" value="6"> 6<br>
    <input type="radio" name="guess" value="7"> 7<br>
    <input type="radio" name="guess" value="8"> 8<br>
    <input type="radio" name="guess" value="9"> 9<br>
    <input type="radio" name="guess" value="10"> 10<br>
    <input type="submit" value="Submit your guess!">
  </form>
</div>
