<h1>GUESS</h1>

<h2>Pick a number: </h2>
<form action="/secret/result">
  <input type="submit" value="1" name ="guess">
  <input type="submit" value="2" name ="guess">
  <input type="submit" value="3" name ="guess">
  <input type="submit" value="4" name ="guess">
  <input type="submit" value="5" name ="guess">
  <input type="submit" value="6" name ="guess">
  <input type="submit" value="7" name ="guess">
  <input type="submit" value="8" name ="guess">
  <input type="submit" value="9" name ="guess">
  <input type="submit" value="10" name ="guess">
</form>
