<h2>Secret Number</h2>

<form action="/secret_number/check">
  <label>Guess the magic number!</label><br />
  <select name="guessed_number">
    <option disabled>-- Select a number --</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>

  <input type="submit" value="Submit Guess!">
</form>
