* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  size: 16px;
  line-height: 1.7;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

header {
  background-color: rgb(254, 194, 8);
  height: 25vh;
}

.title {
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-color: rgb(207, 36, 10);
  padding: 40px 0 0 40px;
  text-align: left;
}

.title h1 {
  color: white;
  font-size: 36px;
}

.title p {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  color: rgb(254, 194, 8);
  transform: rotate(-2deg);
  padding-left: 20px;
  letter-spacing: 2px;
}

nav {
  letter-spacing: 1px;
  text-align: right;
  color: rgb(51, 51, 51);
  background-color: rgb(254, 194, 8);
  padding: 0 10px 10px 0;
}

nav a {
  padding: 0 10px;
  color: rgb(51, 51, 51);
}

main {
  width: 100vw;
  padding: 70px 40px 0;
}

img {
  max-width: 300px;
  border: solid 3px rgb(254, 194, 8);
  border-radius: 50%;
}

h2 {
  font-size: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

li {
  padding-bottom: 10px;
  list-style-type: none;
}

li a:hover, p a:hover {
  color: rgb(254, 194, 8);
}

.container {
  width: 95%;
  margin: 10px auto 0;
  display: grid;
  grid-template-columns: 35% 25% 40%;
}

.grid_item {
  background-color: white;
}

.grid_item p {
  padding-bottom: 10px;
}

.grid_item p:last-of-type {
  padding-bottom: 20px;
}

/* .colour_bg {
  background-color: rgb(254, 194, 8);
  padding: 3px 5px 3px 0;
  letter-spacing: 1px;
} */

.complaint {
  width: 80%;
  padding-bottom: 20px;
}

.complainer {
  padding-bottom: 3px;
}

.date {
  padding-bottom: 25px;
}

.update {
  border: solid 2px rgb(254, 194, 8);
  padding: 6px;
  margin-right: 7px;
  font-size: 13px;
  letter-spacing: 1px;
}

form {
  margin-top: 10px;
}

.form_item {
  margin-bottom: 15px;
}

input {
  padding: 8px;
  width: 500px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

input[type=submit] {
  border: solid 2px rgb(254, 194, 8);
  padding: 10px;
  color: rgb(51, 51, 51);
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: auto;
  margin-left: 204px;
}

select {
  width: 500px;
  height: 40px;
  background-color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(51, 51, 51);
}

textarea {
  border: solid 1px rgb(200, 200, 200);
  background-color: white;
  width: 500px;
  height: 150px;
  padding: 8px;
  font-size: 14px;
  line-height: 1.4;
}

label {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(51, 51, 51);
  color: white;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 10px 40px;
  width: 100%;
}

footer p {
  margin-left: 15px;
}
