body{
  max-width: 100%;
  max-height: 100%;
}

p{
  color:red;
}

#catty{
  position: absolute;
  top: 25%;
  left: 0px;
  
}

.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}
