<h2>Add a new author here</h2>

<form action="/authors" method="post">
  Name: <input type="text" name="name"><br>
  Age: <input type="text" name="age"><br>
  Country: <input type="text" name="country"><br>
  Profile Picture: <input type="text" name="profile_pic"><br>
  Alive: <input type="text" name="alive"><br>
  Website: <input type="text" name="website"><br>
  <input type="submit" value="Create Animal">
</form>
