<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Influential Machine Learning Papers and their authors</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <hr>
    <h1>Influential Machine Learning Papers and their authors</h1>
    <hr>
    <nav>
      <a href="/authors/new">Add an Author</a> |
      <a href="/authors">Index of Authors</a> |
      <a href="/papers/new">Add a paper</a> |
      <a href="/papers">Index of papers</a>
    </nav>
    <hr>
    <hr>
    <%= yield %> <!-- Specific template output here -->
    <div class="kitty">
      <h2>Smat Cat</h2>
      <img src="https://i.pinimg.com/236x/10/e2/32/10e232cb9fc5893a8bee5bccc7cbcdc1--reading-books-cat-reading.jpg" alt="The kitty">
</div>
  </body>
</html>
