<h2>Add a new paper here</h2>

<form action="/papers" method="post">
  Title: <input type="text" name="title"><br>
  Year: <input type="text" name="year"><br>
  Citations: <input type="text" name="citations"><br>
  Web Link: <input type="text" name="web_link"><br>
  Author id: <input type="text" name="author_id"><br>
  <input type="submit" value="Create Paper">
</form>
