<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Bands Wiki Page</title>
    <link rel="stylesheet" href="/css/litera.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h1 class="navbar-brand">Rock Bands Wiki</h1>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/rock_bands">Rock Bands Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rock_bands/new">Add Rock Band</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rock_stars">Rock Stars Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rock_stars/new">Add Rock Star</a>
            </li>
          </ul>
          <img class="guitar-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHZ9k6rGcVeGH7cBJzxZjrm08GCXY0ii3JzonsiKrHQz1MgReq" alt="guitar logo">
        </div>
      </nav>
    </div>
    <main class="main-content">
      <%= yield %>
    </main>
  </body>
</html>
