<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moons in our Solar System</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Moons of our Solar System</h1>
    <nav>
      <a href="/moons/new">NEW MOON!</a>
      <a href="/moons">Index of moons</a>
    </nav>
    <hr />
    <%= yield %>
  </body>
</html>
