<h2>Add a Moon to the Database</h2>
<form action="/moons" method="post">
  <input type="text" name="name">           - Name <br />
  <input type="text" name="planet">         - Planet <br />
  <input type="text" name="period">         - Orbital Period <br />
  <input type="text" name="discoverer">     - Discoverer <br />
  <input type="text" name="discovery_year"> - Discovery Year <br />
  <input type="text" name="img_url">        - Image Url <br />
  <input type="submit" value="Submit Moon">
</form>
