
body {
  background-color: lavender;
  /*We remove/reset the margin to put our nav in top left*/
  margin: 0;
}

div {
  display: inline-block;
  border: 1px solid white;
}

.logo {
  border-radius: 50%;
}

.top{
  display: inline-block;
  margin: 5px 0px 0px 5px;
  border: 1px solid white;
}

nav{
  width: 100%;
  height: 150px;
  background-color: red;
  border: 1px solid white;
  position: fixed;
  display: block;
}

.rightNav{
  display: inline-block;
  border: 1px solid white;
  width: 15%;
  text-align: center;
  font-size: 24px;
}

.navSpace{
  width: 41%;
  display: inline-block;
  border: 1px solid white;
}

.trailer{
  height: 250px;
  width:100%;
  background-color: hotpink;
  border: 1px solid white;
  position: relative;
  top: 151px;
}

.middle {
  border: 1px solid white;
  position: relative;
  left:50%;
}

.trailer h1 {
  position:relative;
  margin: 0px 0px;
  padding: 25px 0px;
  width: 270px;
  left:47%;
  font-size: 28px;
  font-weight: 600;
}

h2 {
  position:relative;
  margin: 0px 0px;
  padding: 25px 0px;
  width: 250px;
  left:47%;
}

.columnBlock{
  position: relative;
  top:150px;
  width:100%;
  height: 550px;
}

.columns {
  display:inline-block;
  position:relative;
  width:33%;
  height:500px;
  text-align: center;
  line-height: 250px;
  float:left;
  margin: auto;
}
