<h2>Welcome to my games site</h2>


<h4><a href="/games/magic8ball">Magic 8 Ball</a></h4>
<h4><a href="/games/secretnumber">Secret Number</a></h4>
<h4><a href="/games/rockpaperscissors">Rock Paper Scissors</a></h4>
