<h2>Click your guessed number.</h2>

<form action="secret/result">
<input type="submit" value ="1" name = "number">
<input type="submit" value ="2" name = "number">
<input type="submit" value ="3" name = "number">
<input type="submit" value ="4" name = "number">
<input type="submit" value ="5" name = "number">
<input type="submit" value ="6" name = "number">
<input type="submit" value ="7" name = "number">
<input type="submit" value ="8" name = "number">
<input type="submit" value ="9" name = "number">
<input type="submit" value ="10" name = "number">
</form>
