<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>4 Oceans I know</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="/index">Home</a>
    <%= yield %>
  </body>
</html>
