
<h2>Add ocean</h2>


<form action="/oceans" method="post">

  Name:<input type="text" name="name" value=""><br><br>
  Volume:<input type="text" name="volume" value="">,000,000 km&sup3;<br><br>
  Area:<input type="text" name="area" value="">,000,000 km&sup2;<br><br>
  Colour:<input type="text" name="colour" value=""><br><br>
  Wetness:<input type="text" name="wetness" value="">iwf<br><br>
<input type="Submit" name="" value="Add ocean">

</form>
