<!-- # __Secret Number__
#
# * Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view.
# * You should make a route like ```/games/secret/:guess``` which routes to ```secret#play``` -->

<h2>Guess The Secret Number</h2>

<form action="/games/secretnumber/guess">
  <input type="radio" name="number" value="1"> 1
  <input type="radio" name="number" value="2"> 2
  <input type="radio" name="number" value="3"> 3
  <input type="radio" name="number" value="4"> 4
  <input type="radio" name="number" value="5"> 5
  <input type="radio" name="number" value="6"> 6
  <input type="radio" name="number" value="7"> 7
  <input type="radio" name="number" value="8"> 8
  <input type="radio" name="number" value="9"> 9
  <input type="radio" name="number" value="10"> 10
  <input type="submit" value="Enter Guess">
</form>
