<h1>Games on Rails</h1>

<ul>
  <li>
    <a href="/games/magic">Magic 8 Ball</a>
  </li>
  <li>

    <a href="/games/secret">Secret number</a>
  </li>
  <li>

    <a href="/games/rps">Rock, paper, scissors</a>
  </li>
</ul>
