<header>
  <h1 class ="mainTitle title">Add Food</h1>
</header>

<form action="/food" method="post">
  Name: <input class="textfield" type="text" name="name"><br>
  Origin: <input class="textfield" type="text" name="country"><br>
  Country Flag: <input class="textfield" type="text" name="country_img"><br>
  Main Ingredient: <input class="textfield" type="text" name="main_ingredient"><br>
  Description: <input class="textfield" type="text" name="description"><br>
  Score (out of 10): <input class="textfield" type="text" name="score"><br>
  Is it edible?: <input class="textfield" type="text" name="edible"><br>
  Image URL: <input class="textfield" type="text" name="image_url"><br>
  <br>
  <input type="submit" value="Add your food">
</form>
