<h2>Magic 8 Ball</h2>

<form action="/magic/answer">
  <label>Ask the Magic 8 Ball a question:</label> <br />
  <input type="text" name="question" />
  <input type="submit" value="Submit Question" />
</form>
