<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our Solar System</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Our Solar System</h1>
    <nav>
      <a href="/planets">Index of planets</a> --
      <a href="/moons">Index of moons</a>
    </nav>
    <hr />
    <%= yield %>
  </body>
</html>
