<h2>Add New Planets</h2>
<form action="/planets" method="POST">
  <input type="text" name="name"> -- Name<br />
  <input type="text" name="nick_name"> -- Nickname<br />
  <input type="text" name="period"> -- Period<br />
  <input type="text" name="img_url"> -- Image url
  <br />
  <input type="submit" value="Create Planet"/>
</form>
