<h3>Make a new mountain!</h3>

<form action="<%= mountains_path %>" method="post">

  Name: <input type="text" name="name">
  Image URL: <input type="text" name="image">
  Country: <input type="text" name="country">
  Elevation: <input type="text" name="elevation">
  Pointyness: <input type="text" name="pointyness">
  <input type="submit" value="Create!">

</form>
