body {
  margin-bottom: 0;
  width: 100%;
}

#container {
  margin: 0 auto;
  max-width: 800px;
}

#title{
height: 120px;
}

#titleHome {
  text-decoration: none;
}

a {
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

#J {
  position: absolute;
  height: 100px;
  padding-top: 25px;
}

h1 {
  position: relative;
  left: 65px;
  top: 6px;
  display: inline-block;
  font-family: 'VT323', monospace;
  font-size: 5em;
  font-weight: bold;
}

nav {
  background-color: #FFF;
  list-style: none;
  font-family: 'VT323', monospace;
  font-size: 1.9em;
  height: 55px;
  line-height: 45px;
}

h4 {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  font-weight: none;
  margin: 10px;
  display: block;
}

.projectList {
  list-style-type: square;
  display: block;
}

ul {
  padding-left: 0;
}

li {
  float: left;
  padding-right: 30px;
}

article {
  min-width: 600px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  display: inline-block;
}

#jennPicture {
  float: left;
  min-width: 200px;
  min-height: 200px;
  width: 30%;
  border-radius: 1%;
  border: 3px solid #000;
}

#triviaPicture {
    float: left;
    min-width: 200px;
    min-height: 200px;
    width: 30%;
    border-radius: 1%;
    border: 3px solid rgb(82, 82, 82, 0.2);

}

#newspaper {
  width: 100%;
}

#projectText {
  width: 100%;
  line-height: 30px;
}

#biography {
  margin-top: 0;
  min-width: 500px;
  min-height: 200px;
  line-height: 30px;
  padding-left: 20px;
  width: 65%;
  clear: left;
  display: inline-block;
}

#lipsVideo {
  float:right;
  width: 20%;
  height: 30%;
  border-radius: 1%;
  border: 3px solid rgb(82, 82, 82, 0.2);
}

#lorem {
  margin-top: 0;
  line-height: 30px;
  padding-right: 5px;
  width: 78%;
  display: inline-block;
}

#project {
  margin-top: 0;
  line-height: 30px;
}

footer {
  text-align: bottom;
  background-color: rgb(138, 87, 251, 0.75);
  margin: 0 0;
  width: 100%;
  height: 150px;
}

#mediaButtons {
  margin: 0 auto;
  padding-top: 2em;
  height: 20%;
}

#makeBitArt {
  border-style: none;
  width: 100%;
  height: 750px;
}

#footerDiv{
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  height: 20%;

}

.socialMedia {
  float:right;
  padding:;
}

#copy {
  float:left;
}

.links {
  line-height: 30px;
}


.center {
  text-align: center;
}

h5 {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
}

.links {
  display: block;
}

#vimeo {
  height: 450px;
  width: 100%;
  border-style: none;
}

.blocks {
  display:block;
}
