<!-- # * Magic 8 ball takes user's questions from the the URL as params and returns a positive or negative answer.
# * You should make a route like ```/games/magic/:question``` which routes to ```magic#play``` (i.e. you will need a controller called ```magic_controller.rb```). -->

<h2>Magic 8 Ball Game</h2>

<button type="button" name="button"> <a href="/games/magic8ball/form"> Click Here To Play</a></button>
