<h2>Add New City</h2>

<form action="/cites" method="post">
  Name: <input type="text" name="name"><br>
Country: <input type="text" name="country"><br>
Image URL: <input type="text" name="image_url"><br>
<br>
<input type="submit" value="Create City">
</form>
