<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>World's Famous Sites</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>World's Famous Sites</h1>
    <nav>
      <a href="/cities/new">Add cities</a>
      <a href="/cities">Index</a>
    </nav>
    <hr>
    <%= yield %>

    <hr>
    &copy; City Site Production 2018
  </body>
</html>
