<h2>Add New Sites</h2>

<form action="/sites" method="post">
  Name: <input type="text" name="name"><br>
  Built Year: <input type="text" name="built_year"><br>
  Architect: <input type="text" name="architect"><br>
  Sites ID: <input type="text" name="sites_id"><br>
  <br>
  <input type="submit" value="Create Site">
</form>
