<h2>Create New Car</h2>

<form action="/cars" method="post">
Name: <input type="text" name="name"><br/>
Engine: <input type="text" name="engine"><br/>
Horsepower: <input type="text" name="horsepower"><br/>
Country: <input type="text" name="country"><br/>
Turbocharged: <input type="text" name="turbocharged"><br/>

<input type="submit" value="Create">
</form>
