
<h2>Select the Game below!</h2>

<div class="gamePics">
  <a href="/games/eightball"><%= image_tag "magic_eight_ball.jpg", alt: "Magic 8 Ball", class: "homeGameImage"%></a>
  <a href="/games/secretnumber">
  <%= image_tag "secret_number.png", alt: "Secret Number" , class: "homeGameImage"%></a>
  <a href="/games/rockpaperscissors">
  <%= image_tag "rock_paper_scissors.jpg", alt: "Rock Paper Scissors" , class: "homeGameImage"%>
  </a>
</div>
