<h2>Let's play rock-paper-scissors!</h2>
<h2>I have selected my throw. What is your</h2>

<div class="rockpaperscissorsForm">
<form action="/games/rockpaperscissors/throw">
  Throw: <select name="throw">
    <option selected disabled>Select a throw</option>
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value="Throw!">
</form>
</div>
