<h2 id="answer">Choose your weapon:</h2>
<form action="/rps/result">
<div class="form-group">
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" name="throw" value="rock" class="custom-control-input" checked="">
    <label class="custom-control-label" for="customRadio1"><img src="/assets/rock.png" alt="Rock"></label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" name="throw" value="paper" class="custom-control-input">
    <label class="custom-control-label" for="customRadio2"><img src="/assets/paper.png" alt="Paper"></label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio3" name="throw" value="scissors" class="custom-control-input">
    <label class="custom-control-label" for="customRadio3"><img src="/assets/scissors.png" alt="Scissors"></label>
  </div>
  <input type="submit" value="Fight!">
</form>
</div>
