<h2>Add New Mountain</h2>

<form action=" /mountains" methos="post">
mountain name: <input type="text" name="mountain_name"><br>
mountain continent: <input type="text" name="mountain_continent"><br>
environment: <input type="text" name="environment"><br>
height: <input type="text" name="height"><br>
image_url: <input type="text" name="image_url"><br>
<br>
<input type="submit" name="Create your Mountain"><br>
</form>
