  <h1>Rock, paper, scissors</h1>

<a href="/games/rps/rock">
  <%= image_tag 'rock.jpg', alt: "funny picture" %>
</a>

<a href="/games/rps/paper">
  <%= image_tag 'paper.jpg', alt: "funny picture" %>
</a>

<a href="/games/rps/scissors">
  <%= image_tag 'scissors.jpg', alt: "funny picture" %>
</a>
