<h2>Create New Sneaker</h2>

<form action="<%= sneakers_path %>" method="post">
  Brand: <input type="text" name="brand"><br>
  Silhouette: <input type="text" name="silhouette"><br>
  Colorway: <input type="text" name="colorway"><br>
  Description: <input type="text" name="description"><br>
  Heat Rating: <input type="text" name="heat_rating"><br>
  Release Date: <input type="text" name="release_date"><br>
  Image Url: <input type="text" name="image_url"><br>
  <br>
  <input type="submit" value="create">



</form>
