<h2>Create New World Leader</h2>

<form action="<%= leaders_path %>" method="post">
  <label>Name:</label>
  <input type="text" name="name"><br>
  <label>Country:</label>
  <input type="text" name="country"><br>
  <label>Years in Office:</label>
  <input type="text" name="years_in_office"><br>
  <label>Alive:</label>
  <input type="text" name="alive"><br>
  <label>Image:</label>
  <input type="text" name="image"><br>
  <label>Quote:</label>
  <input type="text" name="quote"><br>

  <input type="submit" value="Create Leader">
</form>
