<h2>Create new chair</h2>

<!-- <form action="<%= chairs_path %>" method="post"> -->
<form action="/chairs" method="post">

Name: <input type="text" name="name"><br><br>
Image: <input type="text" name="image"><br><br>
Legs: <input type="text" name="legs"><br><br>
Material: <input type="text" name="material"><br><br>
Recliner: <input type="text" name="recliner">

<input type="submit" value="Create">

</form>
