<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moondani Happy standardpoodles</title>
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <h1>Moondani Happy standardpoodles</h1>
<nav>
  <a href = "/standardpoodles/new">Add Poodle</a>
  <a href = "/standardpoodles">Index</a>
</nav>
    <hr>
  <%= yield %>
  </body>
</html>
