<h2> Add New Animal</h2>

<form action="/standardpoodles" method="post">
Name: <input type="text" name="name"><br>
Color: <input type="text" name="color"><br>
Age: <input type="text" name="age"><br>
Temperment: <input type="text" name="temperment"><br>
Alive: <input type="text" name="alive"><br>
Image URL: <input type="text" name="image_url"><br>
<input type="submit" value="Create Standardpoodle"  >
</form>
