<form action="/eightball/result">
  <label for="question">Ask the 8 ball a question:</label>
  <input type="text" class="form-control" id="question" name="question" placeholder="E.g. Am I worthy?">
  <button type="submit" class="btn btn-primary">Ask the 8 ball</button>
</form>
<div class="img-container">
  <img class="eightball" src="/assets/eightball.png" alt="8 ball">
</div>
