<h2>Create New Book</h2>
<form action="<%= books_path %>" method="post"><br/>


  Title: <input type="text" name="title"><br/>
  Author: <input type="text" name="author"><br/>
  Published Year:<input type="text" name="published_year"><br/>
  Image:<input type="text" name="image"><br/>
  <br>
  <input type="submit" value="Ceate">

</form>
