<h2>Add New Athlete</h2>

<form action="/athletes" method="post">
  Full Name: <input type="text" name="full_name"> <br>
  Age: <input type="text" name="age"><br>
  Club: <input type="text" name="club"><br>
  Country: <input type="text" name="country"><br>
  Sponsored Brand: <input type="text" name="sponsored_brand"><br>
  Club Image URL: <input type="text" name="club_image"><br>
  Nations Flag URL: <input type="text" name="country_image"><br>
  Athlete URL: <input type="text" name="self_image"><br>
  <br>
  <input type="submit" value="Create Athlete">
</form>
