<h2>Add New Brands</h2>

<form action="/brands" method="post">
  Company Name:  <input type="text" name="company_name" value=""> <br>
  Website:  <input type="text" name="website" value=""> <br>
  Year Founded:  <input type="text" name="founded" value=""> <br>
  Headquarters City:  <input type="text" name="hq" value=""> <br>
  Who Is The CEO?:  <input type="text" name="ceo" value=""> <br>
  Stock Price:  <input type="text" name="stock_price" value=""> <br>
  Logo Url:  <input type="text" name="logo_url" value=""> <br>
  <br>
  <input type="submit" value="Create New Brand">
</form>
