<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sponsored Athletes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Sponsored Athletes</h1>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/brands">Brands</a></li>
          <li><a href="/brands/new">Add Brand</a></li>
          <li><a href="/athletes">Athletes</a></li>
          <li><a href="/athletes/new">Add Athlete</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
